<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-AU-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Computed Props</title>
    <link rel="stylesheet" href="style/normalize.css"/>
    <link rel="stylesheet" href="style/style.css"/>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <header class="header">
    <h1 class="header_title">Headline</h1>
    </header>
    <div id="app" class="outer-container" v-cloak>
        <label>First Name<input v-model="firstName" type="text"></label>
        <label>Last Name<input v-model="lastName" type="test"></label>
        <p>{{fullName}}</p>

        

    </div>
    <script src="./script/script.js"></script>      
</body>
</html>