<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-AU-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7A Show and Tell</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div class="container">
    <div id="app" v-cloak>
        <h1>Topps Chrome Football Card Collection</h1>
        <p>Card grading is based on four components.</p>
        <ul>
            <li>
                Centering
            </li>
            <li>
                Corners
            </li>
            <li>
                Edges
            </li>
            <li>
                Surface
            </li>
        </ul>
        <h3>A Comparison of Quarterback Cards</h3>
        <table>
            <thead>
                <tr>
                    <!-- <th>Photo</th> -->
                    <th>Player</th>
                    <th>Team</th>
                    <th>Position Played</th>
                    <th>Card Year</th>
                    <th>Card Rating</th>
                </tr>
            </thead>
            <tbody>
            <tr  v-for="(collection, index) in collections" v-bind:class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 !==0}">
                <!-- <tr 
                v-for="(collection, index) in collections"
                v-bind:class="{odd: index % 2 !== 0}"
                > -->
                    
                <!-- <td><img v-bind:title="box.name" v-bind:src="box.image" v-bind:alt="box.playerName + ' '+ box.cardImage"/></td> -->
                
                    <td>{{collection.playerName}}</td>
                    <td>{{collection.teamName}}</td>
                    <td>{{collection.positionPlayed}}</td>
                    <td>{{collection.cardYear}}</td>
                    <td>{{collection.cardGrade}}</td>
                </tr>
            </tbody>    
        </table>
        <a href="https://www.topps.com/" title="Topps Chrome Football Card Collection">Topps Chrome Football Card Collection</a>
    </div>
    </div>
    <script src="script/scriptV3.js"></script>
</body>
</html>